<div class="container">
  <div class="mt-5"></div>

  <div class="row">
    <div class="col">
      <p class="text-center">Dati aggiornati al giorno <%= @reading.date.strftime("%d/%m/%Y") %></p>
    </div>
  </div>

  <div class="mt-4"></div>

  <div class="row">
    <div class="col">
      <p class="text-center">Percentuale di nuovi positivi in Italia:</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="percentage">
        <p class="text-center"><%= (@reading.new_positives.to_f / @reading.new_tampons.to_f * 100).round(2) %>%</p>
      </div>
    </div>
  </div>

  <div class="row bg-light p-3">
    <div class="col">
      <%= line_chart Reading.group_by_day(:created_at).maximum(:new_positives) %>
    </div>
  </div>

  <div class="my-3">

  <div class="row">
    <div class="col">
      <p class="text-center">Nuovi positivi rispetto al giorno precedente: <%= number_with_delimiter(@reading.new_positives, delimiter: '.') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">Nuovi tamponi rispetto al giorno precedente: <%= number_with_delimiter(@reading.new_tampons, delimiter: '.') %></p>
    </div>
  </div>
</div>
